.category-1, .category-2, .category-3, .category-4, .category-5, .category-6 {
    display: flex;
    align-items: center;
    width: 15%;
    height: auto;
    margin: 5px;
    align-content: center;
    overflow: hidden;
    animation: appear 1.0s ease forwards;
}

.category-2 {
    animation: appear 1.5s ease forwards;
}

.category-3 {
    animation: appear 2s ease forwards;
}

.category-4 {
    animation: appear 2.5s ease forwards;
}

.category-5 {
    animation: appear 3s ease forwards;
}

.category-6 {
    animation: appear 3.5s ease forwards;
}

.category-card-1, .category-card-2, .category-card-3, .category-card-4, .category-card-5, .category-card-6 {
    background-image: url("/public/images/categories/poultry.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 5px;
    align-content: center;
    overflow: hidden;
    animation: hoverOut 0.8s ease forwards;
}

.category-card-1:hover, .category-card-2:hover, .category-card-3:hover, .category-card-4:hover, .category-card-5:hover, .category-card-6:hover{
    animation: hoverIn 0.8s ease forwards;
}

.category-card-2 {
    background-image: url("/public/images/categories/pork.jpg");
}

.category-card-3 {
    background-image: url("/public/images/categories/beef.jpg");
}
.category-card-4 {
    background-image: url("/public/images/categories/seafood.jpg");
}

.category-card-5 {
    background-image: url("/public/images/categories/vegan.jpg");
}

.category-card-6 {
    background-image: url("/public/images/categories/dessert.jpg");
}

.main-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(105, 105, 105, 0.486);
    backdrop-filter: blur(20px);
    width: 100%;
    height: 15%;
    margin: 0;
    animation: slideUp 1.2s ease forwards;
}

.overlay-right {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    z-index: 9;
    background-color: var(--contrast-color);
    animation: swoopRight .15s ease-in-out forwards .15s;
}