/* --- Category Grid --- */

#category-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    height: 80%;
    margin: 0 auto auto auto;
    animation: appear 3.2s ease forwards;
    overflow-y: auto;
}

/* --- Category Card --- */

.category-card {
    display: flex;
    align-items: center;
    align-content: center;
    width: 15%;
    height: auto;
    margin: 5px;
    animation: appear 1.0s ease forwards;
    overflow: hidden;
}

.category-card:nth-child(2n) {
    animation: appear 1.5s ease forwards;
}

.category-card:nth-child(3n) {
    animation: appear 2s ease forwards;
}

.category-card:nth-child(4n) {
    animation: appear 2.5s ease forwards;
}

.category-card:nth-child(5n) {
    animation: appear 3s ease forwards;
}

.category-card:nth-child(6n) {
    animation: appear 3.5s ease forwards;
}

.category-card-content {
    background: url("/public/images/categories/poultry.jpg") center / cover;
    display: flex;
    align-items: center;
    align-content: center;
    color: white;
    font-family: 
        'Segoe UI', 
        Tahoma, 
        Geneva, 
        Verdana, 
        sans-serif;
    width: 100%;
    height: 100%;
    margin: 5px;
    overflow: hidden;
    animation: hoverOut 0.4s ease forwards;
}

.category-card-content:hover {
    animation: hoverIn 0.4s ease forwards;
}

.category-card:nth-child(2n) .category-card-content {
    background-image: url("/public/images/categories/pork.jpg");
}

.category-card:nth-child(3n) .category-card-content {
    background-image: url("/public/images/categories/beef.jpg");
}
.category-card:nth-child(4n) .category-card-content {
    background-image: url("/public/images/categories/seafood.jpg");
}

.category-card:nth-child(5n) .category-card-content {
    background-image: url("/public/images/categories/vegan.jpg");
}

.category-card:nth-child(6n) .category-card-content {
    background-image: url("/public/images/categories/dessert.jpg");
}

.category-card p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(105, 105, 105, 0.486);
    backdrop-filter: blur(20px);
    width: 100%;
    height: 15%;
    margin: 0;
    transform: translatex(-300px);
    animation: slideUp .5s ease-in-out forwards .5s;
}