#app-header {
    background-color: rgb(118, 173, 103);
    outline: chartreuse 5px solid;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    width: 100vw;
    height: 10vh;
    z-index: 10;
}

#dashboard {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

#dashboard section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80%;
    height: 100%;
    margin: 0;
}
  
#dashboard button {
    display: flex;
    background: black;
    border: none;
    text-decoration: none;
    background-color: transparent;
    border-bottom: rgba(0, 0, 0, 0) solid 3px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    width: 20%;
    padding-top: 10px;
    padding-bottom: 7px;
    margin: auto 4% auto 4%;
}
  
#dashboard button:hover {
    border-bottom: forestgreen solid 2px;
}