#app-header {
    display: flex;
    width: 100vw;
    height: 15vh;
}
  
.header-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33.5%;
    height: 100%;
}
  
.header-title img {
    width: 19%;
    height: auto;
    margin: 3%;
}
  
.header-title h1 {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    width: fit-content;
    margin: 3%;
}