#home-div {
    display: flex;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: auto;
    margin: 0;
}

#text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: auto;
    margin: 0;
}

#text-container-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    margin: 0;
}

img {
    width: 100px;
    height: 100px;
    margin: 0;
}

h1{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 70px;
    width: fit-content;
    height: 100px;
    margin: 2%;
}

#text-container-description {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 0;
}

h2{
    display: flex;
    justify-content: left;
    align-items: center;
    color: gray;
    font-size: 24px;
    width: fit-content;
    height: fit-content;
    margin: 2%;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    width: 50%;
    height: auto;
    padding: 2%;
    margin: 2% auto 2% auto;
}

#image-container {
    background-image: linear-gradient(80deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 40%), url("/home/ian/code/labs/phase3/phase-3-project/sinatra-react-project-client/public/images/background.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    width: 50%;
    height: auto;
    margin: 0;
}

#text-container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: auto;
    margin: 5% auto auto auto;
}

#text-container-button button{
    background-color: rgb(107, 172, 107);
    color: white;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-size: large;
    width: fit-content;
    height: auto;
    margin: auto;
}