/* --- Recipe Grid --- */

#recipe-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
  grid-auto-rows: minmax(250px, 250px);
  grid-auto-flow: dense;
  gap: 10px;
  width: 90%;
  height: 80%;
  margin: 0 auto auto auto;
  overflow-y: auto;
  animation: appear 1s ease forwards;
}

#recipe-grid div:nth-child(4n) {
  grid-row-end: span 2;
  grid-column-end: span 2;
  transform: translatex(1000px);
  animation: slideIn .3s ease-in-out forwards .3s;
  overflow: hidden;
}

#recipe-grid div:nth-child(6n) {
  grid-column-end: span 2;
  transform: translatey(1000px);
  animation: slideUp .2s ease-in-out forwards .2s;
  overflow: hidden;
}

/* --- Recipe Card --- */

.recipe-card {
  animation: appear .8s ease forwards;
  overflow: hidden;
}

.recipe-card-content {
  background-color: rgba(128, 128, 128, 0.5);
  background-size: cover;
  background-position: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  margin: 0;
  align-content: center;
  overflow: hidden;
  animation: hoverOut 0.4s ease forwards;
}

.recipe-card-content:hover {
  animation: hoverIn 0.4s ease forwards;
}

.recipe-card-content p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(105, 105, 105, 0.5);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 25%;
  margin: 0;
  transform: translateY(300px);
  animation: slideUp .5s ease-in-out forwards .5s;
}

/* --- Icons --- */

.recipe-card-icons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: transparent;
  top: 0;
  width: 100%;
  height: fit-content;
  margin: 0;
  z-index: 9;
}

/* --- Searchbar --- */

#search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
  margin: auto 0 auto 0;
  transform: translatey(-1000px);
  animation: slideDown .6s ease-in-out forwards .6s;
}

#search img {
  background-color: #40a042;
  width: 20px;
  height: 20px;
  margin: 5px;
}

#search input {
  border: green solid 2px;
  height: 100%;
  width: 100%;
}

/* --- Favorites Switch --- */

.main-header h4 {
  color: #40a042;
  display: flex;
  align-items: center;
  width: auto;
  height: fit-content;
  margin: auto 1% auto auto;
  transform: translatey(-1000px);
  animation: slideDown .6s ease-in-out forwards .6s;
}

.favorites-switch {
  position: relative;
  display: inline-block;
  width: 5%;
  height: 32%;
  margin: auto 1% auto 0;
  transform: translatey(-1000px);
  animation: slideDown .6s ease-in-out forwards .6s;
}

/* Hide default HTML checkbox */
.favorites-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.favorites-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.favorites-slider:before {
  position: absolute;
  content: "";
  height: 70%;
  width: 45%;
  left: 5%;
  bottom: 15%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.favorites-switch input:checked + .favorites-slider {
  background-color: #40a042;
}

.favorites-switch input:focus + .favorites-slider {
  box-shadow: 0 0 1px yellowgreen;
}

.favorites-switch input:checked + .favorites-slider:before {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}