/* --- Recipe Main --- */

.recipe {
  background: linear-gradient( 
    165deg, 
    rgb(108, 170, 106) 10%, 
    rgb(28, 89, 40) 50%
  );
  border-radius: 35px;
  display: inherit;
  width: 80%;
  height: 85%;
  margin: auto;
  animation: appear .8s ease-in forwards;
  overflow: hidden;
}

/* --- Recipe Btns --- */

.wrap--ul button {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(100, 100, 100, 0.5);
  backdrop-filter: blur(20px);
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: white;
  border: none;
  width: 100%;
  height: 15%;
  z-index: 1;
}

.wrap--ul button:hover {
  background-color: rgba(117, 235, 63, 0.5);
}

/* --- Recipe Headers --- */

.recipe__header, 
.wrap--content-left h2, 
.wrap--content-left h3,
.wrap--content-left p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  font-family: arial;
  width: 100%;
  padding: 0 5% 0 5%;
  margin: 0;
}

.recipe__header {
  flex-direction: row;
  background-color: lightgrey;
  border-bottom: solid 4px yellowgreen;
  height: 15%;
  padding-left: 2%;
  transform: translatey(-1000px);
  animation: slideDown .4s ease-in-out forwards .2s;
}

.recipe__header h1 {
  font-size: 1.8rem;
  color: gray;
  transform: none;
  animation: none;
}

.recipe__header img {
  width: auto;
  height: 80%;
  margin: auto 0;
}

.wrap--content-left h2 {
  color: rgb(173, 231, 58);
  height: 10%;
  transform: translatex(-1000px);
  animation: slideRight .5s ease-in-out forwards .3s;
}

.wrap--content-left h3 {
  height: 10%;
  margin-top: 2%;
}

.wrap--content-left p {
  font-family: 'Times New Roman', Times, serif;
  color: lightgray;
  font-size: 1.1rem;
  height: auto;
  margin: auto;
  transform: translatex(-1000px);
  animation: slideRight .6s ease-in-out forwards .4s;
}

/* --- Wrappers --- */

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: auto;
}

.wrap--content-left {
  width: 60%;
}

.wrap--content-right {
  width: 40%;
  margin: auto 0 auto;
}

.wrap--div {
  display: block;
  height: fit-content;
  margin: 0;
}

.wrap--div-arrow {
  margin: 0;
}

.wrap--ol {
  position: relative;
  height: 60%;
  margin-top: 4%;
  transform: translatey(1000px);
  animation: slideUp .4s ease-in-out forwards .4s;
}

.wrap--ul {
  background: rgba(112, 128, 144, 0.479);
  border-radius: 0 35px 35px 0;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* --- Dividers --- */

.divider {
  position: relative;
  height: 1px;
  animation: appear 1s ease-in forwards;
}

.divider div {
  margin: 2%;
}

.div--transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient( 
    to right, 
    transparent, 
    lightgrey, 
    transparent
  );
}

.div--dot:after {
  content: "";
  position: absolute;
  top: -5px;
  left: calc(50% - 9px);
  width: 10px;
  height: 10px;
  background-color: goldenrod;
  border: 1px solid rgb(48, 49, 51);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white, 0 0 2px 2px white;
  z-index: 1;
}

/* --- ul & ol --- */

.wrap--content-left ol, .wrap--content-right ul {
  display: flex;
  flex-direction: column;
  counter-reset: index;
  margin: auto;
  overflow-y: auto;
}

.wrap--content-left ol {
  color: white;
  width: 85%;
  height: 80%;
  padding-right: 5%;
}

.wrap--content-right ul {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 2% 10% 5% 10%;
}

.ingredients--show, .ingredients--hide {
  position: absolute;
  border-radius: 0 0 35px 0;
  top: 15%;
  left: 0;
  width: 100%;
  height: 85%;
  margin: 0;
  transition: .35s all;
	transform: translate(0px, 0px);
}

.ingredients--hide {
	transform: translate(0px, -1000px);
}

/* --- ul & ol Overlays --- */

.recipe__overlay {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay--directions {
  background: linear-gradient(
    0deg, 
    rgba(28, 89, 40, 1) 2%, 
    transparent 10%
  );
  border-radius: 0 0 0 35px;
  pointer-events: none;
}

.overlay--ingredients {
  background: linear-gradient(
    0deg, 
    white 2%, 
    transparent 10%
  );
  margin: 0;
  pointer-events: none;

  z-index: 2;
}

/* --- li --- */

.wrap--ol > ol li {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  counter-increment: index;
  box-sizing: border-box;
  padding: 12px 0;
}

.wrap--ol > ol li::before {
  content: "Step " counter(index);
  color: rgb(173, 231, 58);
  text-align: right;
  min-width: 60px;
  font-size: 1rem;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
}

.wrap--ol > ol li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
}

.wrap--content-right ul li {
  align-items: center;
  counter-increment: none;
  font-size: 16px;
  padding: 12px 0;
}

/* --- Prep/Cook Times --- */

.recipe__times {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 15%;
}

.recipe__times p {
  color: forestgreen;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  width: 80%;
  height: 50%;
  margin: 0 auto 0 auto;
  border-bottom: solid 2px gray;
}

.recipe__times p:first-child {
  border: none;
}

.recipe__times p:first-child::before {
  content: "Prep Time:\00a0";
  color: black;
}

.recipe__times p:nth-child(2)::before {
  content: "Cook Time:\00a0";
  color: black;
}

/* --- checkbox --- */

.label {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
  color: black;
}

.label input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: lightgrey;
  border: 0px solid black;
  border-radius: 0px;
}

.checkbox__indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.label input:hover ~ .checkbox__indicator,
.label input:focus ~ .checkbox__indicator {
  background: lightgreen;
}

.label input:checked ~ .checkbox__indicator {
  background: goldenrod;
}

.label input:checked ~ .checkbox__indicator:after {
  display: block;
}

.label--checkbox .checkbox__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}