/* --- Recipe Grid --- */

#recipe-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
  grid-auto-rows: minmax(250px, 250px);
  grid-auto-flow: dense;
  gap: 10px;
  width: 90%;
  height: 80%;
  margin: 0 auto auto auto;
  overflow-y: auto;
  animation: appear 1s ease forwards;
}

#recipe-grid div:nth-child(4n) {
  grid-row-end: span 2;
  grid-column-end: span 2;
  transform: translatex(1000px);
  animation: slideIn .3s ease-in-out forwards .3s;
  overflow: hidden;
}

#recipe-grid div:nth-child(6n) {
  grid-column-end: span 2;
  transform: translatey(1000px);
  animation: slideUp .2s ease-in-out forwards .2s;
  overflow: hidden;
}

/* --- Recipe Card --- */

.recipe-card {
  animation: appear .8s ease forwards;
  overflow: hidden;
}

.recipe-card-content {
  background-color: rgba(128, 128, 128, 0.5);
  background-size: cover;
  background-position: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  margin: 0;
  align-content: center;
  overflow: hidden;
  animation: hoverOut 0.4s ease forwards;
}

.recipe-card-content:hover {
  animation: hoverIn 0.4s ease forwards;
}

.recipe-card-content p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(105, 105, 105, 0.5);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 25%;
  margin: 0;
  transform: translateY(300px);
  animation: slideUp .5s ease-in-out forwards .5s;
}

/* --- Searchbar --- */

#search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  margin: auto;
  transform: translatey(-1000px);
  animation: slideDown .6s ease-in-out forwards .6s;
}

#search img {
  background-color: #40a042;
  width: 20px;
  height: 20px;
  margin: 5px;
}

#search input {
  border: green solid 2px;
  height: 100%;
  width: 40%;
}